@model ScorersDashboardViewModel

@{
    ViewData["Title"] = "Scorers Reporter";
}

<div class="container">
    <div class="row">
        <h2>Scorers Reporter</h2>
        <a asp-action="SaveReportOnDesktop" class="btn btn-sm btn-primary">Add Reservation</a>
        <a asp-action="GetReservation" class="btn btn-sm btn-secondary">Get Reservation</a>
        <form method="post" enctype="multipart/form-data">
            <input class="form-control" type="file" name="file" />
            <button class="btn btn-sm btn-primary" type="submit">Upload File</button>
        </form>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="filterByLeague" placeholder="Filter by league">
        </div>
    </div>

    <div id="scorersTable"></div>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-sm table-striped table-bordered m-2">
                <thead>
                    <tr>
                        <th>Fullname</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var scorer in Model.Top5CanadianScorers)
                    {
                        <tr>
                            <td>@scorer.FullName</td>
                            <td>@scorer.Points</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <div class="row"></div>
            <div class="row">
                <label>Top Scorer</label>
                <table class="table table-sm table-striped table-bordered m-2">
                    <thead>
                        <tr>
                            <th>Fullname</th>
                            <th>Total goals</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.TopScorer.FullName</td>
                            <td>@Model.TopScorer.TotalGoals</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(() => {
            getScorers();

            $('#filterByLeague').on('keyup', () => {
                getScorers();
            });
        });

        function getScorers() {
            $.ajax({
                url: '@Url.Action("GetScorers", "Scorers")',
                datatype: 'html',
                method: 'GET',
                data: { league: $('#filterByLeague').val() },
                success: function (res) {
                    $('#scorersTable').html(res);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        } 
    </script>
}